<section>

  <h3 id="about-me">About Myself</h3>

  <div class="face-lockup">

    <div class="face-img"></div>

    <!-- The splitting of the icons is done in the _about.sass file-->

    <!--<div class="icon-c">{% include icons/icon-c.html %}</div>
    <div class="icon-csharp">{% include icons/icon-csharp.html %}</div>-->
    <div class="icon-cplus">{% include icons/icon-cplus.html %}</div>
    <div class="icon-java">{% include icons/icon-java.html %}</div>
    <div class="icon-python">{% include icons/icon-python.html %}</div>
    <div class="icon-git">{% include icons/icon-git.html %}</div>
    <div class="icon-linux">{% include icons/icon-linux.html %}</div>
    <div class="icon-mysql">{% include icons/icon-mysql.html %}</div>
  </div>


  <div class="blurb">
    {{ site.data.settings.blurb | markdownify }}
  </div>

  {% if site.data.settings.skills %}

  <div class="skill-lockup">

    {% for skill in site.data.settings.skills %}

      <div class="skill-unit">
        <div class="skill-label">{{ skill.name }}</div>
        <div class="skill-icons skill-{{ skill.value }}">
          {% for i in (1..10) %}
            <span></span>
          {% endfor %}
        </div>
      </div>

    {% endfor %}

  </div>

  {% endif %}

</section>
